.settings {
	table {
		width: 100%;

		td {
			vertical-align: middle
		}

		.picker > div {
			margin-right: 0.5rem;
		}

		.settings-entry {
			table {
				margin: 0;
				width: auto;

				td {
					border: 0;
				}

			}

			.btn-outline-secondary {
				margin-left: 0.5rem;
			}
		}

		.progress > div {
			width: 50%;
			height: 38px;
		}
	}
}
